@model Recipes.Models.InputRecipeModel

<h1>Edit Recipe</h1>
<hr />

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Име</label>
        <input asp-for="Name" value="@Model.Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PreparationTime" class="control-label">Време за подготовка</label>
        <input asp-for="PreparationTime"  value="@Model.PreparationTime" class="form-control" />
        <span asp-validation-for="PreparationTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.CookingTime" class="control-label">Време за приготвяне</label>
        <input asp-for="@Model.CookingTime" value="@Model.CookingTime" class="form-control" />
        <span asp-validation-for="CookingTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PortionCount" class="control-label">Порции</label>
        <input asp-for="PortionCount" value="@Model.PortionCount" class="form-control" />
        <span asp-validation-for="PortionCount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание</label>
        <input asp-for="Description" value="@Model.Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.CategoryId" class="control-label"></label>
        <select asp-for="@Model.CategoryId" class="form-control"  asp-items="@Model.Categories"></select>
    </div>

    <div class="form-group">
        <label asp-for="Image" class="control-label"></label>
        <input asp-for="Image" value="@Model.ImgURL" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <div id="ingridient" class="form-group">
        <label asp-for="Ingridients" class="control-label"></label>
        <a class="btn btn-success" onclick="AddIngridient()">+</a>
    </div>
    <input type="submit" value="Save Recipe" />
</form>
